<div class="top-level-extent" id="Top">
<div class="nav-panel">
<p>
Next: <a href="constant.Copying.html#start" accesskey="n" rel="next">MPFR Copying Conditions</a>, Previous: <a href="../dir_html/index.html" accesskey="p" rel="prev">(dir)</a>, Up: <a href="../dir_html/index.html" accesskey="u" rel="up">(dir)</a> &nbsp; [<a href="constant.Concept_Index.html#start" title="Index" rel="index">Index</a>]</p>
</div>
<h1 class="top" id="GNU-MPFR">GNU MPFR</h1>
<p>This manual documents how to install and use the Multiple Precision
Floating-Point Reliable Library, version 4.2.1.
</p>
<p>Copyright 1991, 1993-2023 Free Software Foundation, Inc.
</p>
<p>Permission is granted to copy, distribute and/or modify this document under
the terms of the GNU Free Documentation License, Version 1.2 or any later
version published by the Free Software Foundation; with no Invariant Sections,
with no Front-Cover Texts, and with no Back-Cover Texts.  A copy of the
license is included in <a class="ref" href="constant.GNU_Free_Documentation_License.html#start">GNU Free Documentation License</a>.
</p><br>
<ul class="mini-toc">
<li><a href="constant.Copying.html#start" accesskey="1">MPFR Copying Conditions</a></li>
<li><a href="constant.Introduction_to_MPFR.html#start" accesskey="2">Introduction to MPFR</a></li>
<li><a href="constant.Installing_MPFR.html#start" accesskey="3">Installing MPFR</a></li>
<li><a href="constant.Reporting_Bugs.html#start" accesskey="4">Reporting Bugs</a></li>
<li><a href="constant.MPFR_Basics.html#MPFR-Basics" accesskey="5">MPFR Basics</a></li>
<li><a href="constant.MPFR_Interface.html#MPFR-Interface" accesskey="6">MPFR Interface</a></li>
<li><a href="constant.API_Compatibility.html#API-Compatibility" accesskey="7">API Compatibility</a></li>
<li><a href="constant.MPFR_and_the_IEEE_754_Standard.html#start" accesskey="8">MPFR and the IEEE 754 Standard</a></li>
<li><a href="constant.Contributors.html#start" accesskey="9">Contributors</a></li>
<li><a href="constant.References.html#start">References</a></li>
<li><a href="constant.GNU_Free_Documentation_License.html#start">GNU Free Documentation License</a></li>
<li><a href="constant.Concept_Index.html#start">Concept Index</a></li>
<li><a href="constant.Function_and_Type_Index.html#start">Function and Type Index</a></li>
</ul>
</div>
<hr>
<div class="nav-panel">
<p>
Next: <a href="constant.Copying.html#start" accesskey="n" rel="next">MPFR Copying Conditions</a>, Previous: <a href="../dir_html/index.html" accesskey="p" rel="prev">(dir)</a>, Up: <a href="../dir_html/index.html" accesskey="u" rel="up">(dir)</a> &nbsp; [<a href="constant.Concept_Index.html#start" title="Index" rel="index">Index</a>]</p>
</div>
