<div class="chapter-level-extent" id="Reporting-Bugs">
<div class="nav-panel">
<p>
Next: <a href="constant.MPFR_Basics.html#MPFR-Basics" accesskey="n" rel="next">MPFR Basics</a>, Previous: <a href="constant.Installing_MPFR.html#start" accesskey="p" rel="prev">Installing MPFR</a>, Up: <a href="index.html#start" accesskey="u" rel="up">GNU MPFR</a> &nbsp; [<a href="constant.Concept_Index.html#start" title="Index" rel="index">Index</a>]</p>
</div>
<h2 class="chapter" id="Reporting-Bugs-1">3 Reporting Bugs</h2>
<a class="index-entry-id" id="index-Reporting-bugs"></a>
<p>If you think you have found a bug in the MPFR library, first have a look
on the MPFR&nbsp;4.2.1 web page <a class="url" href="https://www.mpfr.org/mpfr-4.2.1/">https://www.mpfr.org/mpfr-4.2.1/</a>
and the FAQ <a class="url" href="https://www.mpfr.org/faq.html">https://www.mpfr.org/faq.html</a>:
perhaps this bug is already known, in which case you may find there
a workaround for it.
You might also look in the archives of the MPFR mailing-list:
<a class="url" href="https://sympa.inria.fr/sympa/arc/mpfr">https://sympa.inria.fr/sympa/arc/mpfr</a>.
Otherwise, please investigate and report it.
We have made this library available to you, and it is not to ask too
much from you to ask you to report the bugs that you find.
</p>
<p>There are a few things you should think about when you put your bug report
together.
</p>
<p>You have to send us a test case that makes it possible for us to reproduce the
bug, i.e., a small self-content program, using no other library than MPFR.
Include instructions on how to run the test case.
</p>
<p>You also have to explain what is wrong; if you get a crash, or if the results
you get are incorrect and in that case, in what way.
</p>
<p>Please include compiler version information in your bug report. This can
be extracted using &lsquo;<samp class="samp">cc -V</samp>&rsquo; on some machines, or, if you are using GCC,
&lsquo;<samp class="samp">gcc -v</samp>&rsquo;. Also, include the output from &lsquo;<samp class="samp">uname -a</samp>&rsquo; and the MPFR
version (the GMP version may be useful too).
If you get a failure while running &lsquo;<samp class="samp">make</samp>&rsquo; or &lsquo;<samp class="samp">make check</samp>&rsquo;, please
include the <samp class="file">config.log</samp> file in your bug report, and in case of test
failure, the <samp class="file">tests/test-suite.log</samp> file too.
</p>
<p>If your bug report is good, we will do our best to help you to get a corrected
version of the library; if the bug report is poor, we will not do anything
about it (aside of chiding you to send better bug reports).
</p>
<p>Send your bug report to the MPFR mailing-list &lsquo;<samp class="samp">mpfr@inria.fr</samp>&rsquo;.
</p>
<p>If you think something in this manual is unclear, or downright incorrect, or if
the language needs to be improved, please send a note to the same address.
</p>
</div>
<hr>
<div class="nav-panel">
<p>
Next: <a href="constant.MPFR_Basics.html#MPFR-Basics" accesskey="n" rel="next">MPFR Basics</a>, Previous: <a href="constant.Installing_MPFR.html#start" accesskey="p" rel="prev">Installing MPFR</a>, Up: <a href="index.html#start" accesskey="u" rel="up">GNU MPFR</a> &nbsp; [<a href="constant.Concept_Index.html#start" title="Index" rel="index">Index</a>]</p>
</div>
